<%- include('partials/head.ejs') %>
<body>
  <div class="max-w-screen-xl h-screen mx-auto px-5 bg-white h-100">
    <div class="h-full flex flex-col items-center justify-center">
      <h1 class="text-7xl font-medium mb-4">🚨<%= title %></h1>
      <p class="p-3 text-gray-900"><%= message %></p>
    </div>
  </div>
  <%- include('partials/foot.ejs') %>
</body>
